@media screen and (min-width: 1200px) {
.searchbox {
    position: absolute;
    margin-top: -32px;
    padding: 10px;
    padding-right: 114px;
}
}
.searchbox{
padding: 10px;
padding-right: 114px;
/* border-radius: 10px; */
border-color: white;
border-top-color: white;
}